In [23]:
import pymysql,itertools
import numpy as np
db = pymysql.connect(host='127.0.0.1',port=3306, user='root', passwd='cc840724',db='futures_data')
cursor=db.cursor()
sql_ins="select * from futures_data.txf_60mins_filted"
sql_update="update txf_60mins_filted set avg_c10=%s,avg_vol10=%s where id = %s"

In [28]:
def convert(Tuple):
        new=[list(item) for item in Tuple]
        Tuple = list(itertools.chain.from_iterable(new))
        return new

In [25]:
cursor.execute(sql_ins)
data=cursor.fetchall()

In [32]:
print(data[0])
print(len(data))
_list=convert(data)
print(_list[0])
print(type(_list))
arr=np.array(data)
print(arr)

(1, datetime.date(2001, 1, 4), 945, 5060.0, -89.0, 89.0, 80.0, 9.0, 0.966, 0.699)
20400
[1, datetime.date(2001, 1, 4), 945, 5060.0, -89.0, 89.0, 80.0, 9.0, 0.966, 0.699]
<class 'list'>
[[1 datetime.date(2001, 1, 4) 945 ..., 9.0 0.966 0.699]
 [2 datetime.date(2001, 1, 4) 1045 ..., 69.0 0.96 1.261]
 [3 datetime.date(2001, 1, 4) 1145 ..., 20.0 0.97 1.294]
 ...,
 [20398 datetime.date(2017, 7, 21) 1145 ..., 10.0 1.007 2.415]
 [20399 datetime.date(2017, 7, 21) 1245 ..., 9.0 1.004 3.143]
 [20400 datetime.date(2017, 7, 21) 1345 ..., 3.0 1.004 1.495]]

In [30]:

"""for i in range(len(data)):
    data1=round(int(float(data[i][1])*10000)/10)/1000
    data2=round(int(float(data[i][2])*10000)/10)/1000
    cursor.execute(sql_update,(data1,data2,data[i][0]))  
    db.commit()
"""
print("done")

done

In [19]:
db.close()

In [39]:
a=len([-1,0,1,2])-1
print(list(range(-1,a)))

[-1, 0, 1, 2]