In [8]:
import pandas as pd
import numpy as np

input_data=pd.read_csv("TXF_60min_filted.CSV")
input_data.head()

       Date  time  close  quote  H_L  H_C  C_L  avg_c10_filt avg_vol10_filt
0  2001/1/4   945   5060    -89   89   80    9         0.965          0.699
1  2001/1/4  1045   5130     65   68   -1   69         0.959           1.26
2  2001/1/4  1145   5105    -25   50   30   20         0.970          1.294
3  2001/1/4  1245   5128     18   33    7   26         0.970           1.83
4  2001/1/4  1345   5121     -8   52   54   -2         0.976          0.935

In [9]:
input_data.drop('quote', axis=1, inplace=True)
input_data.head()

       Date  time  close  H_L  H_C  C_L  avg_c10_filt avg_vol10_filt
0  2001/1/4   945   5060   89   80    9         0.965          0.699
1  2001/1/4  1045   5130   68   -1   69         0.959           1.26
2  2001/1/4  1145   5105   50   30   20         0.970          1.294
3  2001/1/4  1245   5128   33    7   26         0.970           1.83
4  2001/1/4  1345   5121   52   54   -2         0.976          0.935

In [18]:
import datetime
date=input_data['Date'][0]
print(type(date))
date=(datetime.datetime.strptime(date,"%Y/%m/%d"))
year=date.strftime('%Y')
print(year)

<class 'str'>
2001

In [26]:
state=[]
current_step=0
def make_state():
    current_step=0
    for i in range(5):
        state.append([input_data['H_L'][current_step],
                     input_data['H_C'][current_step],
                     input_data['C_L'][current_step],
                     str(input_data['avg_c10_filt'][current_step]),
                     input_data['avg_vol10_filt'][current_step]])
        current_step+=1
make_state()
print(current_step)
print("state = ",state)

0
state =  [[89, 80, 9, '0.965', '0.699'], [68, -1, 69, '0.959', '1.26'], [50, 30, 20, '0.97', '1.294'], [33, 7, 26, '0.97', '1.83'], [52, 54, -2, '0.976', '0.935']]